* {
    margin: 0;
    padding: 0;
}

.card-container {
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
}

.card-container .card-holder {
	display: flex;
	flex-direction: column;
	width: 33%;
	min-height: 100px;
	background: #ccc;
}

#card {
	width: 95%;
	margin: 0 auto;
}

#card .card-image-holder {

} 

#card .card-description {

}

#card .button-box {
	width: 100%;
}

#card .button-box button {
	width: 100%;
	height: 40px;
	background: #cc0022;
	border: none;
	color: #fff;
}